.BookCard__wrapper {
    width: 100%;
  .BookCard_body {
    width: 80vw;
    .BookCard__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      img {
        border: 1px solid black;
        height: 30vh;
        width: 15vw;
        border-radius: 4px;
      }
      a {
        text-decoration: none;
        padding: 12px;
        background-color: rgb(31, 31, 128);
        color: white;
      }
    }
  }
}
